<div class="config_tab active" tab-control="plan">
    <div id="tourPlan">
        <div id="addTourProgram" style="background-image: url();"></div>
        <div id="1" class="tourDay">
            <h2 class="tourDayCount">День 1 </h2>
            <div day-id="1" block-id="0" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="1" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="2" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="3" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="4" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="5" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="6" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="7" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="8" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="9" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="10" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="11" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="12" class="tourDay" style="background-image: url();"></div>
            <div day-id="1" block-id="13" class="tourDay" style="background-image: url();"></div>

        </div>
    </div>
</div>